@import "tailwindcss";
@plugin "daisyui" {
	themes:
		light --default,
		dark;
}

.custom-btn {
	@apply inline-flex items-center justify-center font-semibold rounded-md shadow-md transition hover:brightness-110 active:scale-95 text-white;
	background: linear-gradient(-23deg, #9f62f2, #632ee3);
	padding: 0.75rem 1.5rem;
	min-width: 150px;
}
